<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="div">
        <fieldset id="fieldset">    
            <legend><h1>&lt;/task-hood&gt;</h1></legend>
            <form method="post" action="/login" autocomplete="off" >
                <input type="text" autofocus autofocus minlength="3" maxlength="50" required placeholder="name" name="usr_name"><br><br>
                <input type="password" minlength="6" maxlength="12"  required placeholder="password" name="usr_pswrd">
                <p id="message">{{ message }}</p>
                <button type="submit">submit</button>
                <br> <br>
                <a id="register"href="{{url_for('register')}}">Don't have an account? Sign up</a>
        </form>
    </fieldset>
    </div>
</body>
