<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body  style="font-size: larger;">
        <ul>
            <li>
                <a  style="margin-right: 40px; color: white;">&lt;/task-hood&gt; </a>
            </li>
            <li>
                <a id="links" href="{{ url_for('index') }}"> &lt;home&gt;  </a>
            </li>
            <li>
                <a id="links" href="{{ url_for('board') }}">&lt;board&gt; </a>
            </li>
            <li>
                <a id="logout" href="{{url_for('logout')}}">&lt;logout&gt;</a>
            </li>
        </ul>
    <section>
        {% block body %}

        {% endblock %}
    </section>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
   </body>
